h1 {
    color: green; 
    background-color: yellow; 
    font-size: 24px;
}
p {
    color: red; 
    background-color: skyblue; 
    font-size: 14px;
}
.a{
    background-color: aliceblue;
}
#b{
    color: aquamarine;
}
c.b{
    font-size: 100px;
}